<!DOCTYPE html>
<html>
<head>
  <title>DragonFly | Devour Bugs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag(source='favicon.ico') %>
  <%= csrf_meta_tags %>
  <!-- external sources -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
<%= render "layouts/header" %>
<%= yield %>

</body>
</html>
